* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./pattern-background-desktop.svg')hsl(225, 100%, 94%) no-repeat center center/cover;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
}

#page {
    background: #fff;
    max-width: 375px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    font-size: 16px;
}

.sec-1 img {
    max-width: 375px;
    border-radius: 20px 20px 0 0;
}

.sec-2 {
    margin-top: 20px;
}

.sec-2 {
    color: rgb(55, 53, 53);
}

#paragraph {
    margin-top: 20px;
    color: rgb(130, 128, 128);
}

.box-1 {
    display: flex;
    margin: auto;
    width: 300px;
    margin-top: 40px;
    padding: 15px;
    border-radius: 10px;
    background: hsl(225, 100%, 98%);
}


.plan {
    margin: auto;
    color: rgb(130, 128, 128);
    margin-left: 15px;
}

.change {
    margin-top: 12px;
}

.ap {
    margin-left: -40px;
}

.box-2 {
    background: hsl(245, 75%, 52%);
    padding: 10px;
    border-radius: 10px;
    width: 310px;
    margin: auto;
    color: #fff;
    margin-top: 30px;
    box-shadow: rgb(74, 70, 70) 0 10px 30px;
}

.p {
    margin-top: 40px;
    color: rgb(130, 128, 128);
    font-weight: bold;
}

@media screen and (max-width: 375px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: url('./pattern-background-mobile.svg')hsl(225, 100%, 94%) no-repeat center center/cover;
        text-align: center;
        font-family: 'Red Hat Display', sans-serif;
    }
    
    #page {
        background: #fff;
        max-width: 280px;
        height: 600px;
        margin: auto;
        margin-top: 50px;
        border-radius: 20px;
        font-size: 16px;
    }
    
    .sec-1 img {
        max-width: 280px;
        border-radius: 20px 20px 0 0;
    }
    
    .sec-2 {
        margin-top: 20px;
    }
    
    #paragraph {
        margin-top: 20px;
        color: rgb(87, 83, 83);
    }
    
    .box-1 {
        display: flex;
        margin: auto;
        max-width: 230px;
        margin-top: 40px;
        padding: 15px;
        border-radius: 10px;
        background: hsl(225, 100%, 98%);
    }
    
    .plan {
        margin: auto;
        color: rgb(74, 70, 70);
    }
    
    .change {
        margin-top: 12px;
    }
    
    .box-2 {
        background: hsl(245, 75%, 52%);
        padding: 10px;
        border-radius: 10px;
        max-width: 230px;
        margin: auto;
        color: #fff;
        margin-top: 30px;
    }
    
    .p {
        margin-top: 40px;
        color: rgb(68, 64, 64);
        font-weight: bold;
    }
}